/* style.css */

header	{
	width: 300px;
	border: solid 2px #000;
	color: #f55;
	display: inline-block;
}

body {
	background-color: lightblue;
}

.container {
	font-family: sans-serif, Arial, Helvetica;
	width: 1024px;
	margin: 0 auto;
}